[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = ssh://git@github.com/luizdepra/hugo-coder.git
[submodule "longj724.github.io"]
	path = longj724.github.io
	url = git@github.com:longj724/longj724.github.io.git
	branch = master
