<style>
    /* Nav Bar */
    .container {
    max-width: none;
    }

    /* .navigation a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    background-color: #f30034;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    }

    .navigation a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }

    .navigation a:hover {
    text-decoration: none;
    color: black;
    } */

    .navigation a {
    font-family: 'Fira Mono', monospace;
    text-transform: uppercase;
    }

    /* Titles */
    /* .list ul li .title:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    background-color: #f30034;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    } */

    .list ul li .title:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }

    .list ul li .title:hover {
    text-decoration: none;
    color: black;
    }

    .list ul li .title {
    font-family: 'Fira Mono', monospace;
    position: relative;
    }

    /* Content across all pages */
    body {
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
    background-color:red;
    }

    h1, h2 {
    font-family: 'Fira Mono', monospace;
    font-weight: bold;
    }

    /* Icons */
    .twitter {
    color: #00ACEE;
    }

    .linkedin {
    color: #0077B5;
    }

    .github {
    color: #6e5494;
    }
</style>